<section>
    <!-- <h1 style="margin-bottom: 10px; margin-top: 15px;">Nuestras líneas...</h1> -->

    <div style="height: 500px; width: 30%; float: left; margin: 10px;">
        <a [routerLink]="['/principal']" class="rk-item ae-masonry__item">
            <img src="assets/img/sneakers.jpg" alt="">
            <div [routerLink]="['/principal']" class="item-meta">
                <h2>Sneakers</h2>
                <p>Adidas - Nike - Fila</p>
            </div>
        </a>
    </div>

    <div style="height: 500px; width: 30%; float: left; margin: 10px;">
        <a [routerLink]="['/principal']" class="rk-item ae-masonry__item">
            <img src="assets/img/gorras.jpg" alt="">
            <div [routerLink]="['/principal']" class="item-meta">
                <h2>Gorras</h2>
                <p>Goorin Boss</p>
            </div>
        </a>
    </div>

    <div style="height: 500px; width: 30%; float: left; margin: 10px;">
        <a [routerLink]="['/principal']" class="rk-item ae-masonry__item">
            <img src="assets/img/casacas.jpg" alt="">
            <div [routerLink]="['/principal']" class="item-meta">
                <h2>Casacas</h2>
                <p>NBA - NFL - MLB</p>
            </div>
        </a>
    </div>

</section>