/* Estilos Propios */ 

header{
   /* background-image: url("assets/img/Fondo.jpg"); */
   background-color: lightgray !important;
   background-size: 100%;
   /* color: red !important; */
   /* text-shadow: 0px 0px 10px red; */
   /* opacity: 0.5; */
 }

 body{  
   background-image: url("assets/img/UG-Wallpaper.jpg") !important;
   background-color: lightgray;
   background-size: 100%;
   /* background-repeat: no-repeat;
   background-position-y: center; */
 }

 footer{
   background-color: lightgray;
   margin: unset !important;
   padding-bottom: 2rem;
   padding-top: 10.5rem;
   padding: 25px;
   max-width: 100%;
   width: 100% !important;
 }

 /* MENÚ */

.rk-menu__item.active {
  color: gray
}

.rk-mobile-menu label{
  padding-bottom: 15px !important;
  padding-top: 18px !important;
  top: 12px !important;
 }

 .rk-topbar{
  padding-bottom: 15px;
  padding-top: 15px;
  height: 50px;
 }

 .rk-menu__sub{
    height: 30px;
 }

 .rk-menu__sub a{
   color: grey;
   font-size: 16px;
   /* font-weight: normal; */
 }

 .rk-menu__sub ul{
   padding: 0px;
 }

/* PAGE - PRINCIPAL */

/* CAROUSEL */

#carouselHome {
  max-height: 500px;
  display: flex; 
  justify-content: center; 
  align-items: center;

  position: relative;
  padding: 20px 30px;
  background: transparent url(assets/images/black.png) repeat top left;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  min-height: 20px;
}

.carousel-control-prev .carousel-control-next {
  background: #000 !important;
  opacity: 0.8 !important;
  width: 40px !important;;
  height: 100% !important;
  border-radius: 0px 10px 10px 0px !important;
}

.carousel-caption h4 {
  text-shadow: 0px 0px 8px red;
}

.carousel-caption p {
  text-shadow: 0px 0px 3px black
}
/* #carouselHome .carousel-item {
  max-height: 400px;
  max-width: 640px;
  
  display: inline-block; 
} */


 /* CATEGORIAS */

 .categoria{
  display: inline-block; 
  height: 100%; 
  width: 50%; 
  margin: 25px;
 }

 /* FIN: PAGE - PRINCIPAL */


 /* PAGE - ITEM */

 .rk-portfolio-cover {
     padding-bottom: 2.5rem;
     padding-top: 250px;
     height: 0px !important;
 }

 .top-fixed .rk-main {
    padding-top: 6rem;
  }

  .au-pb-4 {
      padding-bottom: 2rem;
      padding-top: 2rem;
      color: white;
      text-shadow: 0px 0px 8px black;
  }
/* PRESENTACIÓN FOTOS */
  #carouselItems{
    padding: 1.5rem;
    border-width: 5px;
    border-color: red;
    margin-top: 20px;
    border-style: inset;
    border-radius: 15px;
  }

  .itemTextH1 {
    text-shadow: 0px 0px 8px red;
    color: gray;
  }

  .itemTextH2 {
    text-shadow: 0px 0px 15px blue;
    color: gray;
  }
/* FIN: PAGE - ITEM */


 /* SVG */
 svg path,
 svg rect{
   fill: black;
 }

/* Animaciones de Fotos */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @media (print) {
    .animated {
      -webkit-animation-duration: 1ms !important;
      animation-duration: 1ms !important;
      -webkit-transition-duration: 1ms !important;
      transition-duration: 1ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-iteration-count: 1 !important;
    }
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  /* Items: Imagen Main */
  .item-inside-1 {
    background-repeat: no-repeat;
  }
