/* Estilos Propios */ 

header{
   /* background-image: url("assets/img/Fondo.jpg"); */
   background-color: lightgray !important;
   background-size: 100%;
   /* color: red !important; */
   /* text-shadow: 0px 0px 10px red; */
   /* opacity: 0.5; */
 }

 body{  
   background-image: url("assets/img/UG-Wallpaper2.jpg") !important;
   background-color: lightgray;
   background-size: 100%;
   background-repeat: no-repeat;
   background-position-y: center;
 }

 footer{
   background-color: lightgray;
   margin: unset !important;
   padding-bottom: 2rem;
   padding-top: 10.5rem;
   padding: 25px;
   max-width: 100%;
   width: 100% !important;
 }

.rk-menu__item.active {
  color: rgb(49, 49, 175);
}

/* SLIDER */
.rg-image img {
  max-height: 400px !important;
}

.rg-image-wrapper {
  height: 500px;
}

.rg-image-wrapper p {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

 /* SVG */
 svg path,
 svg rect{
   fill: black;
 }

/* Animaciones de Fotos */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }

  @media (print) {
    .animated {
      -webkit-animation-duration: 1ms !important;
      animation-duration: 1ms !important;
      -webkit-transition-duration: 1ms !important;
      transition-duration: 1ms !important;
      -webkit-animation-iteration-count: 1 !important;
      animation-iteration-count: 1 !important;
    }
  }

  @-webkit-keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
  }

  /* Items: Imagen Main */
  .item-inside-1 {
    background-repeat: no-repeat;
  }
